@{
    ViewBag.Title = "Main Page";
}

@section Scripts {
    <script src="~/lib/signalr/jquery.signalR.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/js/controllers/TwitterClonesController.js"></script>
    <script src="~/js/TwitterCloneSignalR.js"></script>
}

<div ng-controller="TwitterClonesController as vm">
    <div class="alert alert-danger" role="alert" ng-show="vm.errorMessage" ng-cloak>
        <i class="fa fa-exclamation-triangle"></i>
        <span ng-bind="vm.errorMessage"></span>
    </div>
    <div id="TwitterClone-form" class="container-fluid">
        <form novalidate name="newTwitterClonePostForm" ng-Submit="vm.addTwitterClonePost()">
            <h4> @@@User.Identity.Name says </h4>
            <div class="form-group">
                <textarea id="TwitterClonePostText" class="form-control" ng-minlength="5" ng-maxlength="255" rows="3" placeholder="Say something"
                            ng-model="vm.newTwitterClonePost.message" required></textarea>
            </div>
            <button type="submit" ng-disabled="newTwitterClonePostForm.$invalid" class="btn submit-btn pull-right">TwitterClone!</button>
        </form>
    </div>

    <div ng-show="vm.firstLoad" id="post-stream" class="container-fluid" ng-cloak>
        <div class="post" ng-repeat="TwitterClonePost in vm.TwitterClonePosts | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'">
            <TwitterClone-post-item TwitterClone-post="TwitterClonePost"></TwitterClone-post-item>
        </div>
    </div>
</div>

